In [1]:
import pandas as pd

# Import artists dataframe
df_artists = pd.read_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_artists_tags.csv')

print(f"Loaded df_artists: {len(df_artists):,} rows, {len(df_artists.columns)} columns")
print("\nColumns:")
print(df_artists.columns.tolist())
print("\nFirst few rows:")
df_artists.head()

Loaded df_artists: 14,226 rows, 40 columns

Columns:
['performer_normalized', 'performer', 'first_song_year', 'last_song_year', 'first_album_year', 'last_album_year', 'years_active_on_charts', '#_of_unique_years_active', 'total_charting_songs', 'total_charting_albums', '#1_hit_song_count', '#1_hit_album_count', 'top_10_song_count', 'top_10_album_count', 'top_20_song_count', 'top_20_album_count', 'top_50_song_count', 'top_50_album_count', 'highest_charting_song_name', 'highest_charting_song_position', 'first_charting_song_name', 'first_charting_song_position', 'first_charting_song_duration', 'total_charting_songs_duration_weeks', 'highest_charting_album_name', 'highest_charting_album_position', 'first_charting_album_name', 'first_charting_album_position', 'first_charting_album_duration', 'total_charting_albums_duration_weeks', 'tags', 'genre_tags_musicbrainz', 'first_year_on_chart_songs', 'first_year_top_20_songs', 'first_year_top_10_songs', 'first_year_num1_songs', 'first_year_on_chart_albums', 'first_year_top_20_albums', 'first_year_top_10_albums', 'first_year_num1_albums']

First few rows:

,performer_normalized,performer,first_song_year,last_song_year,first_album_year,last_album_year,years_active_on_charts,#_of_unique_years_active,total_charting_songs,total_charting_albums,...,tags,genre_tags_musicbrainz,first_year_on_chart_songs,first_year_top_20_songs,first_year_top_10_songs,first_year_num1_songs,first_year_on_chart_albums,first_year_top_20_albums,first_year_top_10_albums,first_year_num1_albums
0,!!! (chk chk chk),!!! (Chk Chk Chk),NaN,NaN,2007.0,2007.0,2007-2007,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,NaN,NaN,NaN
1,"""groove"" holmes","""Groove"" Holmes",1966.0,1966.0,NaN,NaN,1966-1966,1,2,0,...,NaN,NaN,1966.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""little"" jimmy dickens","""Little"" Jimmy Dickens",1965.0,1965.0,NaN,NaN,1965-1965,1,1,0,...,NaN,NaN,1965.0,1965.0,NaN,NaN,NaN,NaN,NaN,NaN
3,"""pookie"" hudson","""Pookie"" Hudson",1963.0,1963.0,NaN,NaN,1963-1963,1,1,0,...,NaN,NaN,1963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""weird al"" yankovic","""Weird Al"" Yankovic",1983.0,2014.0,NaN,NaN,1983-2014,8,11,0,...,NaN,NaN,1983.0,1984.0,2006.0,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd

# Import songs dataframe
df_songs = pd.read_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_songs_labels_tags.csv')
print(f"Loaded df_songs: {len(df_songs):,} rows, {len(df_songs.columns)} columns")

# Import albums dataframe
df_albums = pd.read_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_albums_labels_tags.csv')
print(f"Loaded df_albums: {len(df_albums):,} rows, {len(df_albums.columns)} columns")

print("\n" + "="*60)
print("df_songs columns:")
print(df_songs.columns.tolist())

print("\n" + "="*60)
print("df_albums columns:")
print(df_albums.columns.tolist())

print("\n" + "="*60)
print("Sample data:")
print("\ndf_songs:")
print(df_songs.head(3))

print("\ndf_albums:")
print(df_albums.head(3))

Loaded df_songs: 4,975 rows, 14 columns
Loaded df_albums: 4,505 rows, 14 columns

============================================================
df_songs columns:
['title', 'performer', 'peak_pos', 'wks_on_chart', 'first_charting_year', 'original_performer', 'performer_normalized', 'original_performer_normalized', 'label', 'first_year_top_10_songs', 'first_top_10_hit', 'precedes_first_top_10_hit', 'tags', 'genre_tags_musicbrainz']

============================================================
df_albums columns:
['title', 'performer', 'peak_pos', 'wks_on_chart', 'first_charting_year', 'original_performer', 'performer_normalized', 'original_performer_normalized', 'label', 'first_year_top_10_albums', 'first_top_10_album', 'precedes_first_top_10_album', 'tags', 'genre_tags_musicbrainz']

============================================================
Sample data:

df_songs:
                    title      performer  peak_pos  wks_on_chart  \
0    It's All In The Game  Tommy Edwards         1            22
1  It's Only Make Believe  Conway Twitty         1            21
2             Little Star   The Elegants         1            17

   first_charting_year original_performer performer_normalized  \
0                 1958                NaN        tommy edwards
1                 1958                NaN        conway twitty
2                 1958                NaN         the elegants

  original_performer_normalized                   label  \
0                           NaN  Gold Dust, MGM Records
1                           NaN                     NaN
2                           NaN                     APT

   first_year_top_10_songs  first_top_10_hit  precedes_first_top_10_hit tags  \
0                     1958              True                      False  NaN
1                     1958              True                      False  NaN
2                     1958              True                      False  NaN

  genre_tags_musicbrainz
0                    NaN
1                    NaN
2                    NaN

df_albums:
              title                        performer  peak_pos  wks_on_chart  \
0  !!Going Places!!  Herb Alpert & The Tijuana Brass         1           164
1     Blooming Hits   Paul Mauriat And His Orchestra         1            50
2     Blooming Hits   Paul Mauriat And His Orchestra         1            50

   first_charting_year original_performer             performer_normalized  \
0                 1967                NaN  herb alpert & the tijuana brass
1                 1967                NaN                     paul mauriat
2                 1967                NaN                    his orchestra

    original_performer_normalized  \
0                             NaN
1  paul mauriat and his orchestra
2  paul mauriat and his orchestra

                                               label  \
0  A&M Records, Herb Alpert Presents, Shout! Factory
1                                                NaN
2                                                NaN

   first_year_top_10_albums  first_top_10_album  precedes_first_top_10_album  \
0                      1967                True                        False
1                      1967                True                        False
2                      1967                True                        False

  tags genre_tags_musicbrainz
0  NaN                    NaN
1  NaN                    NaN
2  NaN                    NaN

In [3]:
import pandas as pd
import numpy as np

print("Creating new columns for df_artists...")
print("=" * 80)

# ============================================================================
# 1. AGGREGATE_LABELS - All labels from songs and albums
# ============================================================================
print("\n1. Creating 'aggregate_labels' column...")

# Get labels from songs
song_labels = df_songs.groupby('performer')['label'].apply(
    lambda x: ', '.join([label for label in x.dropna() if label])
).to_dict()

# Get labels from albums
album_labels = df_albums.groupby('performer')['label'].apply(
    lambda x: ', '.join([label for label in x.dropna() if label])
).to_dict()

def get_aggregate_labels(artist):
    labels = []
    
    # Add song labels
    if artist in song_labels:
        labels.extend([l.strip() for l in str(song_labels[artist]).split(',') if l.strip()])
    
    # Add album labels
    if artist in album_labels:
        labels.extend([l.strip() for l in str(album_labels[artist]).split(',') if l.strip()])
    
    # Remove duplicates, keep order
    unique_labels = []
    for label in labels:
        if label not in unique_labels and label != 'nan':
            unique_labels.append(label)
    
    return ', '.join(unique_labels) if unique_labels else None

df_artists['aggregate_labels'] = df_artists['performer'].apply(get_aggregate_labels)
print(f"   ✓ Complete - {df_artists['aggregate_labels'].notna().sum()} artists have labels")

# ============================================================================
# 2. FIRST_TOP_10_HIT_SONG_GENRE_TAGS
# ============================================================================
print("\n2. Creating 'first_top_10_hit_song_genre_tags' column...")

def get_first_top10_song_genres(row):
    artist = row['performer']
    first_year = row['first_year_top_10_songs']
    
    if pd.isna(first_year):
        return None
    
    # Get all top 10 songs in that first year
    first_top10_songs = df_songs[
        (df_songs['performer'] == artist) & 
        (df_songs['peak_pos'] <= 10) & 
        (df_songs['first_charting_year'] == first_year)
    ]
    
    # Collect all genre tags
    all_genres = []
    for tags in first_top10_songs['genre_tags_musicbrainz'].dropna():
        all_genres.extend([g.strip() for g in str(tags).split(',') if g.strip()])
    
    # Remove duplicates
    unique_genres = list(dict.fromkeys(all_genres))  # Preserves order
    return ', '.join(unique_genres) if unique_genres else None

df_artists['first_top_10_hit_song_genre_tags'] = df_artists.apply(get_first_top10_song_genres, axis=1)
print(f"   ✓ Complete - {df_artists['first_top_10_hit_song_genre_tags'].notna().sum()} artists have song genres")

# ============================================================================
# 3. FIRST_TOP_10_HIT_ALBUM_GENRE_TAGS
# ============================================================================
print("\n3. Creating 'first_top_10_hit_album_genre_tags' column...")

def get_first_top10_album_genres(row):
    artist = row['performer']
    first_year = row['first_year_top_10_albums']
    
    if pd.isna(first_year):
        return None
    
    # Get all top 10 albums in that first year
    first_top10_albums = df_albums[
        (df_albums['performer'] == artist) & 
        (df_albums['peak_pos'] <= 10) & 
        (df_albums['first_charting_year'] == first_year)
    ]
    
    # Collect all genre tags
    all_genres = []
    for tags in first_top10_albums['genre_tags_musicbrainz'].dropna():
        all_genres.extend([g.strip() for g in str(tags).split(',') if g.strip()])
    
    # Remove duplicates
    unique_genres = list(dict.fromkeys(all_genres))
    return ', '.join(unique_genres) if unique_genres else None

df_artists['first_top_10_hit_album_genre_tags'] = df_artists.apply(get_first_top10_album_genres, axis=1)
print(f"   ✓ Complete - {df_artists['first_top_10_hit_album_genre_tags'].notna().sum()} artists have album genres")

# ============================================================================
# 4. GENRE_TAGS_THROUGH_FIRST_TOP_10_HIT
# ============================================================================
print("\n4. Creating 'genre_tags_through_first_top_10_hit' column...")

def get_genres_through_first_top10(row):
    artist = row['performer']
    
    # Find earliest top 10 year (song OR album)
    first_top10_year = None
    years = [row['first_year_top_10_songs'], row['first_year_top_10_albums']]
    valid_years = [y for y in years if pd.notna(y)]
    
    if not valid_years:
        return None
    
    first_top10_year = int(min(valid_years))
    
    # Get ALL songs/albums up to and including that year
    songs_through_year = df_songs[
        (df_songs['performer'] == artist) & 
        (df_songs['first_charting_year'] <= first_top10_year)
    ]
    
    albums_through_year = df_albums[
        (df_albums['performer'] == artist) & 
        (df_albums['first_charting_year'] <= first_top10_year)
    ]
    
    # Collect all genre tags from both
    all_genres = []
    
    for tags in songs_through_year['genre_tags_musicbrainz'].dropna():
        all_genres.extend([g.strip() for g in str(tags).split(',') if g.strip()])
    
    for tags in albums_through_year['genre_tags_musicbrainz'].dropna():
        all_genres.extend([g.strip() for g in str(tags).split(',') if g.strip()])
    
    # Remove duplicates
    unique_genres = list(dict.fromkeys(all_genres))
    return ', '.join(unique_genres) if unique_genres else None

df_artists['genre_tags_through_first_top_10_hit'] = df_artists.apply(get_genres_through_first_top10, axis=1)
print(f"   ✓ Complete - {df_artists['genre_tags_through_first_top_10_hit'].notna().sum()} artists have combined genres")

# ============================================================================
# SAVE
# ============================================================================
print("\n5. Saving updated df_artists...")
df_artists.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_artists_with_tags.csv', index=False)
print("   ✓ Saved to df_artists_with_tags.csv")

# ============================================================================
# SUMMARY
# ============================================================================
print("\n" + "=" * 80)
print("SUMMARY")
print("=" * 80)
print(f"aggregate_labels: {df_artists['aggregate_labels'].notna().sum()} artists")
print(f"first_top_10_hit_song_genre_tags: {df_artists['first_top_10_hit_song_genre_tags'].notna().sum()} artists")
print(f"first_top_10_hit_album_genre_tags: {df_artists['first_top_10_hit_album_genre_tags'].notna().sum()} artists")
print(f"genre_tags_through_first_top_10_hit: {df_artists['genre_tags_through_first_top_10_hit'].notna().sum()} artists")

print("\nSample:")
print(df_artists[['performer', 'aggregate_labels', 'first_top_10_hit_song_genre_tags', 
                   'first_top_10_hit_album_genre_tags', 'genre_tags_through_first_top_10_hit']].head(10))

Creating new columns for df_artists...
================================================================================

1. Creating 'aggregate_labels' column...
   ✓ Complete - 2534 artists have labels

2. Creating 'first_top_10_hit_song_genre_tags' column...
   ✓ Complete - 331 artists have song genres

3. Creating 'first_top_10_hit_album_genre_tags' column...
   ✓ Complete - 243 artists have album genres

4. Creating 'genre_tags_through_first_top_10_hit' column...
   ✓ Complete - 791 artists have combined genres

5. Saving updated df_artists...
   ✓ Saved to df_artists_with_tags.csv

================================================================================
SUMMARY
================================================================================
aggregate_labels: 2534 artists
first_top_10_hit_song_genre_tags: 331 artists
first_top_10_hit_album_genre_tags: 243 artists
genre_tags_through_first_top_10_hit: 791 artists

Sample:
                performer aggregate_labels first_top_10_hit_song_genre_tags  \
0       !!! (Chk Chk Chk)             None                             None
1         "Groove" Holmes             None                             None
2  "Little" Jimmy Dickens             None                             None
3         "Pookie" Hudson             None                             None
4     "Weird Al" Yankovic             None                             None
5                    $NOT             None                             None
6             $uicideboy$     G*59 Records                             None
7      $uicideBoy$ x Germ             None                             None
8        & Cardi B Or Nas             None                             None
9           & Jack Harlow             None                             None

  first_top_10_hit_album_genre_tags genre_tags_through_first_top_10_hit
0                              None                                None
1                              None                                None
2                              None                                None
3                              None                                None
4                              None                                None
5                              None                                None
6                              None                                None
7                              None                                None
8                              None                                None
9                              None                                None

In [4]:
import pandas as pd
import numpy as np

print("Creating 10 new columns for df_artists...")
print("=" * 80)

# ============================================================================
# 1. TOP 10 HIT SONG IN FIRST YEAR ON CHARTS
# ============================================================================
print("\n1. Creating 'top_10_hit_song_in_first_year_on_charts'...")
df_artists['top_10_hit_song_in_first_year_on_charts'] = (
    df_artists['first_year_on_chart_songs'] == df_artists['first_year_top_10_songs']
)
count = df_artists['top_10_hit_song_in_first_year_on_charts'].sum()
print(f"   ✓ {count} artists had a top 10 song in their first year on charts")

# ============================================================================
# 2. TOP 10 HIT ALBUM IN FIRST YEAR ON CHARTS
# ============================================================================
print("\n2. Creating 'top_10_hit_album_in_first_year_on_charts'...")
df_artists['top_10_hit_album_in_first_year_on_charts'] = (
    df_artists['first_year_on_chart_albums'] == df_artists['first_year_top_10_albums']
)
count = df_artists['top_10_hit_album_in_first_year_on_charts'].sum()
print(f"   ✓ {count} artists had a top 10 album in their first year on charts")

# ============================================================================
# 3. TOP 10 HIT (SONG OR ALBUM) IN FIRST YEAR ON CHARTS
# ============================================================================
print("\n3. Creating 'top_10_hit_album_or_song_in_first_year_on_charts'...")

def had_top10_in_first_year(row):
    # Find absolute first year on charts (songs or albums)
    first_years = [row['first_song_year'], row['first_album_year']]
    valid_first_years = [y for y in first_years if pd.notna(y)]
    
    if not valid_first_years:
        return False
    
    first_year_overall = int(min(valid_first_years))
    
    # Check if they had a top 10 hit (song OR album) in that year
    had_top10_song = row['first_year_top_10_songs'] == first_year_overall
    had_top10_album = row['first_year_top_10_albums'] == first_year_overall
    
    return had_top10_song or had_top10_album

df_artists['top_10_hit_album_or_song_in_first_year_on_charts'] = df_artists.apply(had_top10_in_first_year, axis=1)
count = df_artists['top_10_hit_album_or_song_in_first_year_on_charts'].sum()
print(f"   ✓ {count} artists had a top 10 hit (song OR album) in their first year on charts")

# ============================================================================
# 4. YEARS BEFORE FIRST TOP 10 HIT SONG
# ============================================================================
print("\n4. Creating 'years_before_first_top_10_hit_song'...")

def calc_years_before_top10_song(row):
    if pd.isna(row['first_year_on_chart_songs']) or pd.isna(row['first_year_top_10_songs']):
        return None
    return int(row['first_year_top_10_songs'] - row['first_year_on_chart_songs'])

df_artists['years_before_first_top_10_hit_song'] = df_artists.apply(calc_years_before_top10_song, axis=1)
df_artists['years_before_first_top_10_hit_song'] = df_artists['years_before_first_top_10_hit_song'].astype('Int64')
print(f"   ✓ Average years before first top 10 song: {df_artists['years_before_first_top_10_hit_song'].mean():.1f}")

# ============================================================================
# 5. YEARS BEFORE FIRST TOP 10 HIT ALBUM
# ============================================================================
print("\n5. Creating 'years_before_first_top_10_hit_album'...")

def calc_years_before_top10_album(row):
    if pd.isna(row['first_year_on_chart_albums']) or pd.isna(row['first_year_top_10_albums']):
        return None
    return int(row['first_year_top_10_albums'] - row['first_year_on_chart_albums'])

df_artists['years_before_first_top_10_hit_album'] = df_artists.apply(calc_years_before_top10_album, axis=1)
df_artists['years_before_first_top_10_hit_album'] = df_artists['years_before_first_top_10_hit_album'].astype('Int64')
print(f"   ✓ Average years before first top 10 album: {df_artists['years_before_first_top_10_hit_album'].mean():.1f}")

# ============================================================================
# 6. YEARS BEFORE FIRST TOP 10 HIT (SONG OR ALBUM)
# ============================================================================
print("\n6. Creating 'years_before_first_top_10_hit_song_or_album'...")

def calc_years_before_top10_any(row):
    # Find first year on charts (any)
    first_years = [row['first_song_year'], row['first_album_year']]
    valid_first_years = [y for y in first_years if pd.notna(y)]
    
    if not valid_first_years:
        return None
    
    first_year_overall = int(min(valid_first_years))
    
    # Find first top 10 year (song OR album)
    top10_years = [row['first_year_top_10_songs'], row['first_year_top_10_albums']]
    valid_top10_years = [y for y in top10_years if pd.notna(y)]
    
    if not valid_top10_years:
        return None
    
    first_top10_year = int(min(valid_top10_years))
    
    return first_top10_year - first_year_overall

df_artists['years_before_first_top_10_hit_song_or_album'] = df_artists.apply(calc_years_before_top10_any, axis=1)
df_artists['years_before_first_top_10_hit_song_or_album'] = df_artists['years_before_first_top_10_hit_song_or_album'].astype('Int64')
print(f"   ✓ Average years before first top 10 hit: {df_artists['years_before_first_top_10_hit_song_or_album'].mean():.1f}")

# ============================================================================
# 7. TOP 10 ONE-HIT WONDER (SONG)
# ============================================================================
print("\n7. Creating 'top_10_1hit_wonder_song'...")
df_artists['top_10_1hit_wonder_song'] = (df_artists['top_10_song_count'] == 1)
count = df_artists['top_10_1hit_wonder_song'].sum()
print(f"   ✓ {count} artists are top 10 one-hit wonders (songs)")

# ============================================================================
# 8. TOP 10 ONE-HIT WONDER (ALBUM)
# ============================================================================
print("\n8. Creating 'top_10_1hit_wonder_album'...")
df_artists['top_10_1hit_wonder_album'] = (df_artists['top_10_album_count'] == 1)
count = df_artists['top_10_1hit_wonder_album'].sum()
print(f"   ✓ {count} artists are top 10 one-hit wonders (albums)")

# ============================================================================
# 9. TOP 10 HITMAKER (SONGS)
# ============================================================================
print("\n9. Creating 'top_10_hitmaker_songs'...")
df_artists['top_10_hitmaker_songs'] = (df_artists['top_10_song_count'] > 1)
count = df_artists['top_10_hitmaker_songs'].sum()
print(f"   ✓ {count} artists are top 10 hitmakers (songs)")

# ============================================================================
# 10. TOP 10 HITMAKER (ALBUMS)
# ============================================================================
print("\n10. Creating 'top_10_hitmaker_albums'...")
df_artists['top_10_hitmaker_albums'] = (df_artists['top_10_album_count'] > 1)
count = df_artists['top_10_hitmaker_albums'].sum()
print(f"   ✓ {count} artists are top 10 hitmakers (albums)")

# ============================================================================
# SAVE
# ============================================================================
print("\n11. Saving updated df_artists...")
df_artists.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_artists_with_tags.csv', index=False)
print("   ✓ Saved to df_artists_with_tags.csv")

# ============================================================================
# SUMMARY
# ============================================================================
print("\n" + "=" * 80)
print("SUMMARY - New Columns Created:")
print("=" * 80)

new_cols = [
    'top_10_hit_song_in_first_year_on_charts',
    'top_10_hit_album_in_first_year_on_charts',
    'top_10_hit_album_or_song_in_first_year_on_charts',
    'years_before_first_top_10_hit_song',
    'years_before_first_top_10_hit_album',
    'years_before_first_top_10_hit_song_or_album',
    'top_10_1hit_wonder_song',
    'top_10_1hit_wonder_album',
    'top_10_hitmaker_songs',
    'top_10_hitmaker_albums'
]

for col in new_cols:
    print(f"✓ {col}")

print("\nSample:")
print(df_artists[['performer'] + new_cols].head(10))

Creating 10 new columns for df_artists...
================================================================================

1. Creating 'top_10_hit_song_in_first_year_on_charts'...
   ✓ 1709 artists had a top 10 song in their first year on charts

2. Creating 'top_10_hit_album_in_first_year_on_charts'...
   ✓ 843 artists had a top 10 album in their first year on charts

3. Creating 'top_10_hit_album_or_song_in_first_year_on_charts'...
   ✓ 1948 artists had a top 10 hit (song OR album) in their first year on charts

4. Creating 'years_before_first_top_10_hit_song'...
   ✓ Average years before first top 10 song: 1.1

5. Creating 'years_before_first_top_10_hit_album'...
   ✓ Average years before first top 10 album: 2.5

6. Creating 'years_before_first_top_10_hit_song_or_album'...
   ✓ Average years before first top 10 hit: 1.8

7. Creating 'top_10_1hit_wonder_song'...
   ✓ 1467 artists are top 10 one-hit wonders (songs)

8. Creating 'top_10_1hit_wonder_album'...
   ✓ 843 artists are top 10 one-hit wonders (albums)

9. Creating 'top_10_hitmaker_songs'...
   ✓ 953 artists are top 10 hitmakers (songs)

10. Creating 'top_10_hitmaker_albums'...
   ✓ 1025 artists are top 10 hitmakers (albums)

11. Saving updated df_artists...
   ✓ Saved to df_artists_with_tags.csv

================================================================================
SUMMARY - New Columns Created:
================================================================================
✓ top_10_hit_song_in_first_year_on_charts
✓ top_10_hit_album_in_first_year_on_charts
✓ top_10_hit_album_or_song_in_first_year_on_charts
✓ years_before_first_top_10_hit_song
✓ years_before_first_top_10_hit_album
✓ years_before_first_top_10_hit_song_or_album
✓ top_10_1hit_wonder_song
✓ top_10_1hit_wonder_album
✓ top_10_hitmaker_songs
✓ top_10_hitmaker_albums

Sample:
                performer  top_10_hit_song_in_first_year_on_charts  \
0       !!! (Chk Chk Chk)                                    False
1         "Groove" Holmes                                    False
2  "Little" Jimmy Dickens                                    False
3         "Pookie" Hudson                                    False
4     "Weird Al" Yankovic                                    False
5                    $NOT                                    False
6             $uicideboy$                                    False
7      $uicideBoy$ x Germ                                    False
8        & Cardi B Or Nas                                    False
9           & Jack Harlow                                     True

   top_10_hit_album_in_first_year_on_charts  \
0                                     False
1                                     False
2                                     False
3                                     False
4                                     False
5                                     False
6                                     False
7                                     False
8                                     False
9                                     False

   top_10_hit_album_or_song_in_first_year_on_charts  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
5                                             False
6                                             False
7                                             False
8                                             False
9                                              True

   years_before_first_top_10_hit_song  years_before_first_top_10_hit_album  \
0                                <NA>                                 <NA>
1                                <NA>                                 <NA>
2                                <NA>                                 <NA>
3                                <NA>                                 <NA>
4                                  23                                 <NA>
5                                <NA>                                 <NA>
6                                <NA>                                    1
7                                <NA>                                 <NA>
8                                <NA>                                 <NA>
9                                   0                                 <NA>

   years_before_first_top_10_hit_song_or_album  top_10_1hit_wonder_song  \
0                                         <NA>                    False
1                                         <NA>                    False
2                                         <NA>                    False
3                                         <NA>                    False
4                                           23                     True
5                                         <NA>                    False
6                                            6                    False
7                                         <NA>                    False
8                                         <NA>                    False
9                                            0                     True

   top_10_1hit_wonder_album  top_10_hitmaker_songs  top_10_hitmaker_albums
0                     False                  False                   False
1                     False                  False                   False
2                     False                  False                   False
3                     False                  False                   False
4                     False                  False                   False
5                     False                  False                   False
6                     False                  False                    True
7                     False                  False                   False
8                     False                  False                   False
9                     False                  False                   False

In [5]:
import pandas as pd

print("Adding one-hit wonder and hitmaker columns to songs and albums...")
print("=" * 80)

# ============================================================================
# 1. SONGS DATAFRAME
# ============================================================================
print("\n1. Processing df_songs...")

# Merge artist's top 10 song count
df_songs = df_songs.merge(
    df_artists[['performer', 'top_10_song_count']], 
    on='performer', 
    how='left',
    suffixes=('', '_artist')
)

# Create columns
df_songs['top_10_1hit_wonder_song'] = (df_songs['top_10_song_count'] == 1)
df_songs['top_10_hitmaker_song'] = (df_songs['top_10_song_count'] > 1)

# Count songs in each category
one_hit_wonder_songs = df_songs['top_10_1hit_wonder_song'].sum()
hitmaker_songs = df_songs['top_10_hitmaker_song'].sum()

print(f"   Songs by one-hit wonders: {one_hit_wonder_songs:,}")
print(f"   Songs by hitmakers: {hitmaker_songs:,}")

# Drop the merged count column (we don't need it in the final dataframe)
df_songs = df_songs.drop(columns=['top_10_song_count'], errors='ignore')

# ============================================================================
# 2. ALBUMS DATAFRAME
# ============================================================================
print("\n2. Processing df_albums...")

# Merge artist's top 10 album count
df_albums = df_albums.merge(
    df_artists[['performer', 'top_10_album_count']], 
    on='performer', 
    how='left',
    suffixes=('', '_artist')
)

# Create columns
df_albums['top_10_1hit_wonder_album'] = (df_albums['top_10_album_count'] == 1)
df_albums['top_10_hitmaker_album'] = (df_albums['top_10_album_count'] > 1)

# Count albums in each category
one_hit_wonder_albums = df_albums['top_10_1hit_wonder_album'].sum()
hitmaker_albums = df_albums['top_10_hitmaker_album'].sum()

print(f"   Albums by one-hit wonders: {one_hit_wonder_albums:,}")
print(f"   Albums by hitmakers: {hitmaker_albums:,}")

# Drop the merged count column
df_albums = df_albums.drop(columns=['top_10_album_count'], errors='ignore')

# ============================================================================
# 3. SAVE TO CSV
# ============================================================================
print("\n3. Saving to CSV...")

df_songs.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_songs_labels_tags.csv', index=False)
print("   ✓ Saved df_songs to df_songs_labels_tags.csv")

df_albums.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_albums_labels_tags.csv', index=False)
print("   ✓ Saved df_albums to df_albums_labels_tags.csv")

# ============================================================================
# 4. SUMMARY
# ============================================================================
print("\n" + "=" * 80)
print("SUMMARY")
print("=" * 80)

print("\nSongs:")
print(f"  Total songs: {len(df_songs):,}")
print(f"  By one-hit wonders: {one_hit_wonder_songs:,} ({one_hit_wonder_songs/len(df_songs)*100:.1f}%)")
print(f"  By hitmakers: {hitmaker_songs:,} ({hitmaker_songs/len(df_songs)*100:.1f}%)")

print("\nAlbums:")
print(f"  Total albums: {len(df_albums):,}")
print(f"  By one-hit wonders: {one_hit_wonder_albums:,} ({one_hit_wonder_albums/len(df_albums)*100:.1f}%)")
print(f"  By hitmakers: {hitmaker_albums:,} ({hitmaker_albums/len(df_albums)*100:.1f}%)")

print("\nSample songs:")
print(df_songs[['performer', 'title', 'peak_pos', 'top_10_1hit_wonder_song', 'top_10_hitmaker_song']].head(10))

print("\nSample albums:")
print(df_albums[['performer', 'title', 'peak_pos', 'top_10_1hit_wonder_album', 'top_10_hitmaker_album']].head(10))

print("\n✓ Complete!")

Adding one-hit wonder and hitmaker columns to songs and albums...
================================================================================

1. Processing df_songs...
   Songs by one-hit wonders: 2,411
   Songs by hitmakers: 2,688

2. Processing df_albums...
   Albums by one-hit wonders: 1,959
   Albums by hitmakers: 2,610

3. Saving to CSV...
   ✓ Saved df_songs to df_songs_labels_tags.csv
   ✓ Saved df_albums to df_albums_labels_tags.csv

================================================================================
SUMMARY
================================================================================

Songs:
  Total songs: 5,099
  By one-hit wonders: 2,411 (47.3%)
  By hitmakers: 2,688 (52.7%)

Albums:
  Total albums: 4,569
  By one-hit wonders: 1,959 (42.9%)
  By hitmakers: 2,610 (57.1%)

Sample songs:
          performer                            title  peak_pos  \
0     Tommy Edwards             It's All In The Game         1
1     Conway Twitty           It's Only Make Believe         1
2      The Elegants                      Little Star         1
3  Domenico Modugno  Nel Blu Dipinto Di Blu (Volaré)         1
4      Ricky Nelson                 Poor Little Fool         1
5      The Platters          Smoke Gets In Your Eyes         1
6       Lloyd Price                      Stagger Lee         1
7     The Chipmunks                The Chipmunk Song         1
8     David Seville                The Chipmunk Song         1
9   The Teddy Bears      To Know Him, Is To Love Him         1

   top_10_1hit_wonder_song  top_10_hitmaker_song
0                     True                 False
1                    False                  True
2                     True                 False
3                     True                 False
4                    False                  True
5                    False                  True
6                    False                  True
7                    False                  True
8                    False                  True
9                     True                 False

Sample albums:
                         performer                                      title  \
0  Herb Alpert & The Tijuana Brass                           !!Going Places!!
1   Paul Mauriat And His Orchestra                              Blooming Hits
2   Paul Mauriat And His Orchestra                              Blooming Hits
3        Diana Ross & The Supremes  Diana Ross And The Supremes Greatest Hits
4        Diana Ross & The Supremes  Diana Ross And The Supremes Greatest Hits
5                       Soundtrack                             Doctor Zhivago
6                      The Monkees                               Headquarters
7            The Mamas & The Papas      If You Can Believe Your Eyes And Ears
8                      The Beatles          Magical Mystery Tour (Soundtrack)
9                      The Monkees                        More Of The Monkees

   peak_pos  top_10_1hit_wonder_album  top_10_hitmaker_album
0         1                     False                   True
1         1                      True                  False
2         1                      True                  False
3         1                     False                   True
4         1                     False                   True
5         1                     False                   True
6         1                     False                   True
7         1                     False                   True
8         1                     False                   True
9         1                     False                   True

✓ Complete!

In [6]:
import pandas as pd

print("Creating filtered dataframes for top 10 songs and albums...")
print("=" * 80)

# ============================================================================
# 1. FILTER SONGS - ONLY TOP 10
# ============================================================================
print("\n1. Creating df_songs_top_10_songs_only...")

df_songs_top_10_songs_only = df_songs[df_songs['peak_pos'] <= 10].copy()

print(f"   Total songs in df_songs: {len(df_songs):,}")
print(f"   Top 10 songs: {len(df_songs_top_10_songs_only):,}")
print(f"   Percentage: {len(df_songs_top_10_songs_only)/len(df_songs)*100:.1f}%")

# ============================================================================
# 2. FILTER ALBUMS - ONLY TOP 10
# ============================================================================
print("\n2. Creating df_albums_top_10_albums_only...")

df_albums_top_10_albums_only = df_albums[df_albums['peak_pos'] <= 10].copy()

print(f"   Total albums in df_albums: {len(df_albums):,}")
print(f"   Top 10 albums: {len(df_albums_top_10_albums_only):,}")
print(f"   Percentage: {len(df_albums_top_10_albums_only)/len(df_albums)*100:.1f}%")

# ============================================================================
# 3. SAVE TO CSV
# ============================================================================
print("\n3. Saving to CSV...")

df_songs_top_10_songs_only.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_songs_top_10_songs_only.csv', index=False)
print("   ✓ Saved: df_songs_top_10_songs_only.csv")

df_albums_top_10_albums_only.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_albums_top_10_albums_only.csv', index=False)
print("   ✓ Saved: df_albums_top_10_albums_only.csv")

print("\n✓ Complete!")

Creating filtered dataframes for top 10 songs and albums...
================================================================================

1. Creating df_songs_top_10_songs_only...
   Total songs in df_songs: 5,099
   Top 10 songs: 2,915
   Percentage: 57.2%

2. Creating df_albums_top_10_albums_only...
   Total albums in df_albums: 4,569
   Top 10 albums: 1,926
   Percentage: 42.2%

3. Saving to CSV...
   ✓ Saved: df_songs_top_10_songs_only.csv
   ✓ Saved: df_albums_top_10_albums_only.csv

✓ Complete!

In [7]:
import pandas as pd

print("Creating filtered artist dataframes for top 10 songs and albums...")
print("=" * 80)

# ============================================================================
# 1. FILTER ARTISTS - AT LEAST 1 TOP 10 SONG
# ============================================================================
print("\n1. Creating df_artists_top_10_songs_only...")

df_artists_top_10_songs_only = df_artists[df_artists['top_10_song_count'] > 0].copy()

print(f"   Total artists in df_artists: {len(df_artists):,}")
print(f"   Artists with ≥1 top 10 song: {len(df_artists_top_10_songs_only):,}")
print(f"   Percentage: {len(df_artists_top_10_songs_only)/len(df_artists)*100:.1f}%")

# ============================================================================
# 2. FILTER ARTISTS - AT LEAST 1 TOP 10 ALBUM
# ============================================================================
print("\n2. Creating df_artists_top_10_albums_only...")

df_artists_top_10_albums_only = df_artists[df_artists['top_10_album_count'] > 0].copy()

print(f"   Total artists in df_artists: {len(df_artists):,}")
print(f"   Artists with ≥1 top 10 album: {len(df_artists_top_10_albums_only):,}")
print(f"   Percentage: {len(df_artists_top_10_albums_only)/len(df_artists)*100:.1f}%")

# ============================================================================
# 3. SAVE TO CSV
# ============================================================================
print("\n3. Saving to CSV...")

df_artists_top_10_songs_only.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_artists_top_10_songs_only.csv', index=False)
print("   ✓ Saved: df_artists_top_10_songs_only.csv")

df_artists_top_10_albums_only.to_csv('/Users/jamesemcnally/Dropbox/DSBC/Spring 2026/df_artists_top_10_albums_only.csv', index=False)
print("   ✓ Saved: df_artists_top_10_albums_only.csv")

# ============================================================================
# 4. SUMMARY
# ============================================================================
print("\n" + "=" * 80)
print("SUMMARY")
print("=" * 80)

print("\nArtists with Top 10 Songs:")
print(f"  Total: {len(df_artists_top_10_songs_only):,}")
print(f"  Columns: {len(df_artists_top_10_songs_only.columns)}")

print("\nArtists with Top 10 Albums:")
print(f"  Total: {len(df_artists_top_10_albums_only):,}")
print(f"  Columns: {len(df_artists_top_10_albums_only.columns)}")

print("\nSample artists with top 10 songs:")
print(df_artists_top_10_songs_only[['performer', 'top_10_song_count', 'first_year_top_10_songs']].head(10))

print("\nSample artists with top 10 albums:")
print(df_artists_top_10_albums_only[['performer', 'top_10_album_count', 'first_year_top_10_albums']].head(10))

print("\n✓ Complete!")

Creating filtered artist dataframes for top 10 songs and albums...
================================================================================

1. Creating df_artists_top_10_songs_only...
   Total artists in df_artists: 14,226
   Artists with ≥1 top 10 song: 2,420
   Percentage: 17.0%

2. Creating df_artists_top_10_albums_only...
   Total artists in df_artists: 14,226
   Artists with ≥1 top 10 album: 1,868
   Percentage: 13.1%

3. Saving to CSV...
   ✓ Saved: df_artists_top_10_songs_only.csv
   ✓ Saved: df_artists_top_10_albums_only.csv

================================================================================
SUMMARY
================================================================================

Artists with Top 10 Songs:
  Total: 2,420
  Columns: 54

Artists with Top 10 Albums:
  Total: 1,868
  Columns: 54

Sample artists with top 10 songs:
                           performer  top_10_song_count  \
4                "Weird Al" Yankovic                  1
9                      & Jack Harlow                  1
15                           'N Sync                  6
16                      'Til Tuesday                  1
23                            *NSYNC                  1
31            100 Proof Aged in Soul                  1
33                              10cc                  2
34                               112                  4
37                 1910 Fruitgum Co.                  3
39  Drake, 2 Chainz & Kendrick Lamar                  2

    first_year_top_10_songs
4                    2006.0
9                    2021.0
15                   1998.0
16                   1985.0
23                   2024.0
31                   1970.0
33                   1975.0
34                   1997.0
37                   1968.0
39                   2012.0

Sample artists with top 10 albums:
                           performer  top_10_album_count  \
6                        $uicideboy$                   5
15                           'N Sync                   4
17               'Weird Al' Yankovic                   3
18                             (+44)                   1
23                            *NSYNC                   1
34                               112                   2
39  Drake, 2 Chainz & Kendrick Lamar                   5
49                         21 Savage                   7
53                               213                   1
64                              2Pac                   8

    first_year_top_10_albums
6                     2024.0
15                    1998.0
17                    2006.0
18                    2006.0
23                    2023.0
34                    2001.0
39                       NaN
49                    2017.0
53                    2004.0
64                    1995.0

✓ Complete!